html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.jumbotron{
    background-color: #caed93;
}
.dropdown-menu{
    min-width: 230px!important;
}

table{
    border-collapse: collapse;
    margin:10px;
    width: 85%;
    border: 1px solid #3E4B5C;
}

table tr th, table tr td{
    padding:5px 10px;
}

table th{
    background-color: #3E4B5C;
    color: #fff;
    text-align:left;       
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #222222;
}

footer > .container {
  width: auto;
  padding: 0 15px;
}
footer >.container .text-muted {
  margin: 20px 0;
}
/* sticky footer end */


/* search bar - header */
.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;    
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}
